In [1]:
import numpy as np
import pandas as pd

In [4]:
filepath = "E:\Rnw\maths\Exam\student_dataset.csv"
df = pd.read_csv(filepath)

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\parth\AppData\Local\Temp\ipykernel_27412\1060870417.py:1: SyntaxWarning: invalid escape sequence '\R'
  filepath = "E:\Rnw\maths\Exam\student_dataset.csv"

In [5]:
df.describe()

       study_hours  attendance  previous_test_score
count   200.000000  200.000000           200.000000
mean     20.045000   76.270000            64.295000
std      11.826339   14.047554            21.255752
min       1.000000   50.000000            30.000000
25%       9.000000   66.750000            46.000000
50%      21.500000   77.500000            63.000000
75%      30.000000   87.250000            83.000000
max      39.000000   99.000000            99.000000

In [6]:
df['final_exam_pass'] = df['final_exam_pass'].map({"Pass": 1, "Fail": 0})
df['group_discussion'] = df['group_discussion'].map({"Yes": 1, "No": 0})

In [7]:
P_pass = df['final_exam_pass'].mean()
P_study10 = (df['study_hours'] > 10).mean()
P_att80 = (df['attendance'] > 80).mean()

print("P(Pass):", P_pass)
print("P(Study >10 hrs):", P_study10)
print("P(Attendance >80%):", P_att80)

P(Pass): 0.685
P(Study >10 hrs): 0.725
P(Attendance >80%): 0.44