In [1]:
user_input = input("Enter number seperated by comma ','")

In [5]:
my_list = user_input.split(",")
my_list

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [11]:
my_set = set(my_list)
my_set

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [12]:
my_tupple = tuple(my_set)
my_tupple

('7', '4', '5', '3', '2', '1', '6', '8', '9')